<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="File" name="FileJson" fileName=".log\nlog-all-${shortdate}.json">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />
            </layout>
        </target>

        <target xsi:type="Debugger" name="DebuggerJson">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="service" layout="${logger:shortName=true}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name='message' layout='${message:withException=true}' />
                <!--<attribute name='exception' layout='${exception:format=toString,Data:maxInnerExceptionLevel=10}' />-->
            </layout>
        </target>

        <target xsi:type="Debugger" name="DebuggerText" layout="[${time}][${level:upperCase=true}][${logger:shortName=true}] ${when:when='${ndlc}' != '':(}${ndlc}${when:when='${ndlc}' != '':) }${message} ${exception:format=tostring}"/> 
        <target xsi:type="Console" name="ConsoleText" layout="[${time}][${level:upperCase=true}][${logger:shortName=true}] ${when:when='${ndlc}' != '':(}${ndlc}${when:when='${ndlc}' != '':) }${message} ${exception:format=tostring}"/> 

            
   <target xsi:type="Database" name="Db" 
                connectionString="Server=lsc.pw;Database=EzNintendo5;User Id=sa;Password=YQmeHXQCQ9c9W5eSsgiUbVHMVtb"
                dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">

            <install-command>
                <text>
                    SET ANSI_NULLS ON
                    SET QUOTED_IDENTIFIER ON
                    CREATE TABLE [dbo].[Log] (
                    [ID] [int] IDENTITY(1,1) NOT NULL,
                    [MachineName] [nvarchar](200) NULL,
                    [Logged] [datetime] NOT NULL,
                    [Level] [varchar](5) NOT NULL,
                    [Scope] [nvarchar](300) NULL,
                    [Logger] [nvarchar](300) NULL,
                    [Message] [nvarchar](max) NOT NULL,
                    [Properties] [nvarchar](max) NULL,
                    [Callsite] [nvarchar](300) NULL,
                    [Exception] [nvarchar](max) NULL,
                    CONSTRAINT [PK_App.Log] PRIMARY KEY CLUSTERED ([ID] ASC) 
                    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
                    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
                </text>
            </install-command>
            <uninstall-command>
                <text>
                    DROP TABLE [App].[Log];
                </text>
            </uninstall-command>

            <commandtext>
                INSERT INTO 
                    [dbo].[Log] ([MachineName], [Logged], [Level], [Logger], [Message], [Properties], [Callsite], [Exception]) 
                VALUES (
                    @machineName, @logged, @level, @logger, @message, @properties, @callsite, 
                    @exception);
            </commandtext>
            <parameter name="@machineName"    layout="${machinename}" />
            <parameter name="@logged"         layout="${date}" />
            <parameter name="@level"          layout="${level}" />
            <parameter name="@logger"         layout="${logger}" />
            <parameter name="@message"        layout="${message}" />
            <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
            <parameter name="@callsite"       layout="${callsite}" />
            <parameter name="@exception"      layout="${exception:tostring}" />
        </target>
    </targets>

    <rules>
        <!--<logger name="*" minlevel="Info" writeTo="Db" />-->
        <logger name="*" minlevel="Info" writeTo="DebuggerText" />
        <logger name="*" minlevel="Warn" writeTo="ConsoleText" />
        <!--<logger name="*" minlevel="Info" writeTo="DebuggerJson" />-->
        <!--<logger name="*" minlevel="Warning" writeTo="FileJson" />-->
    </rules>
</nlog>